body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: inline-grid;
  grid-template: 12.5% 12.5% 62.5% 12.5% / 33% 67%;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-column-start: 1;
  grid-column-end: 3;
}

.sidebar {
  background-color: #FF7755;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
}
